@import url("https://fonts.googleleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body{font-family: "Roboto", sans-serif;

}

.img{float: left;
}
.container{background-color:#7FA46B;
margin: auto;
width: 80%;
}



/*hero-right*/
.paddin{float: left;
}

.paragraph{margin-left: 75px;
font-size: xx-large;
width: 40%;
color: blueviolet;}


.nav-right{float:right;}



.align{text-align: center;
color: aqua;}