@import url("https://fonts.googleleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #E8E7E8;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    
}




.top{
    color: blueviolet;
    font-weight: 900px;
    font-size: xx-large;
    text-align: center;
}

.align{
    text-align: left;
}



.list{
   clear: both;

    /* float: left; */
}

.list li {
    text-align: center;
    list-style-type: none;
}



.paragraph{
    font-weight: bold;
}





.explore {
    background-color:#7fa46b;
    margin-bottom: 10px;
    height: 550px;
    width:70%;
    margin: 0 auto;
    border-radius: 50%;
    /* overflow: hidden; */
}

.explore img{
    display: block;
    margin:0 auto;
}
/*social-media*/

.social-media ol{
float: left;
margin-top: 4%;


}

.social-media ol li{
    padding: 5px;
}

.social-media img{
float:left;
border: solid gray;
margin-left: 30px;
box-shadow: #D2AC78;
}
.sec{

    border:solid black;
    text-align: center;
    clear: both;
    border-radius: 5px;
}

.nav-right {
    clear: both;
}


.illustrate{
    padding-bottom: 10px;
padding-top: 10px;
font-size: xx-large;
}



.lastly{
    font-size: xx-large;
    font-weight: bold;
}


.button{
    padding:5px 5px 5px 5px;
    color: cornflowerblue;
    font-size: xx-large;
    margin-top: 20px;
}

/*border-style*/

.border{
    border-style:double;
    border-color:#7FA46B;
border-width: 45px;
}




.explore ul li{
    /* float: right; */
    padding-top: 60px;


}
.no{
    padding: 5px 2px 7px 10px;
    border-color: darkslategray;
    box-shadow :2px 3px 4px firebrick;
}



.explore1{
    float:right;
    margin-right: 40px;
    margin-top: 60px;
}

.icon{
    float:left;
padding-top: 130px;
border: radius 100%;
padding-left: 80px;
}

.h3{
    background-color:white ;
    float: left;
    margin-top: 30px;
    text-align: center;
    box-shadow: #7FA46B;
    
    
    font-size:18px;
    
}

ul li {
    list-style-type: none;
}
.vid{
    border: solid greenyellow;
    width: 300px;
    display: table-cell;
box-shadow:#789fd2;
margin-top: 40px;
    
}






.leadership-developement{
margin-right:100px;
    padding-top:-100px;
    border:radius 30%;
}



.humaans{
    border-radius: 100%;
    margin-right: 60px;
}
.forms{

    text-align: center;
    border: solid black;
    margin-top: 20px;
    padding-left: 20px ;
    background-color: lemonchiffon;
    border-radius:10px;
    box-shadow: 5px 10px 6px 8px;
    
    
    
}
